@import url('https://fonts.googleapis.com/css?family=Roboto');



h1 {
	font-size: 250%;
}




@media only screen and (min-width: 200px) {
	#left-block {
		height: 150vh;
		background: #CAEBF2;


	}

	#right-block {
		height: 150vh;
		background: #EFEFEF;
		padding-top: 100px;
		padding-left: 100px;
		padding-right: 100px;
	}

}

@media only screen and (min-width: 600px) {
	#left-block {
		height: 100vh;
		background: #CAEBF2;


	}

	#right-block {
		height: 100vh;
		background: #EFEFEF;
	}

}
