body {
         
    margin: 30px 50px 30px 50px;
   
}

/*
div {
	
    height:100vh;
    width:50vw;
}

#left {
    background:#5ae;
    float:left;
}

#right {
    background: white;
    float:right;
}

*/



#left-block {
	height: 100vh;
	background: #5ae;
}

#right-block {
	height: 100vh;
	background: white;
}