<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
    <script src="https://use.fontawesome.com/a9dc979047.js"></script>
</head>
<body>
    <!-- {% if current_user.is_authenticated %}
    <a href="/logout/"> Logout </a>
    {% else %}
    <a href="/login/"> Login </a>
    {% endif %}
    &nbsp&nbsp<a href="/blog/"> Blog </a>

    &nbsp&nbsp<a href="/fileupload/">FileUpload</a> -->

    <!-- <div id="left">Left</div>
    <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg"/>
    <div id="right">Right</div> -->

    <div id="container-block" class="row">
        <div id="left-block" class="col-md-6">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>


            <center>
                <div class="col-md-12">

                    <img id="profilepic" style='height:200px; width:200px; ' src="{{ url_for('static', filename='images/profilepic.png') }}" alt="..." class="img-circle img-responsive"/>
                </div>

                <div class="col-md-12">
                   <br/>
                   <br/>
                   <h1>Krishna Kumar</h1>
                   <h5>krishnaqmar@gmail.com</h5>



                   <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-paperclip fa-stack-1x"></i>
                  </span>
                  <a href="/resume">Resume</a>
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                  </span>
                  <a href="/blog/">Blog</a>


                  <div class="panel-body">

                  </div>
                  <div class="panel-body">

                  </div>
                  <div class="panel-body">

                  </div>
                  <div class="panel-body">

                  </div>
                  <div class="panel-body">

                  </div>

              </div>
          </center>

          <div class="links">

           <center>
               <div class="col-md-12">
                   <a href="https://github.com/redfruitt"><i class="fa fa-github fa-2x "></i></a>
                   &nbsp
                   <a href="https://codepen.io/redfruitt/pens/public/"><i class="fa fa-codepen fa-2x"></i></a>
                   &nbsp
                   <a href="https://www.linkedin.com/in/krishna-kumar-81914697/"><i class="fa fa-linkedin fa-2x"></i></a>
                   &nbsp
                   <a href="https://www.instagram.com/krishnaqmar/?hl=en"><i class="fa fa-instagram fa-2x"></i></a>

                   &nbsp
                   <a href="https://www.facebook.com/RedFruitT"><i class="fa fa-facebook fa-2x"></i></a>
               </div>
           </center>
       </div>

   </div>
   <div id="right-block" class="col-md-6">
    <i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
    <br/>

    <h3>{{ quote }} </h3> <br/>
    <center>
        <p> - {{ author }}</p> </center><i class="fa fa-quote-right fa-3x fa-pull-right" aria-hidden="true"></i>
        <br/>
        <br/>


        <center><h6>Quotes from <a href="http://www.values.com/inspirational-quotes">values.com</a>/beep bot</h6></center>

        <div class="panel-body">

        </div>
        <div class="panel-body">

        </div>
        <div class="panel-body">

        </div>
        <div class="panel-body">

        </div>
        <div class="panel-body">

        </div>
        <div class="panel-body">

        </div>
        
        <center>beep bot will start talking here soon!</center>

    </div>
</div>
</body>
</html>